.container{
    width: 100%;
    background: #bbb0c3;
}
.div-glav{
    display: flex;
    gap: 20px;

}
@media(min-width: 1024px) {
    .container{
        background: #0b1a40;
        font-size: 50px;
    }
    .div-glav{
        flex-direction: row;
    }
}
@media(min-width: 600px) and (max-width: 1023px){
 .container{
 background: #afaf0e;
     font-size: 25px;
 }
}
@media(max-width: 599px){
    .container{
        background: #1e5938;
        font-size: 15px;
    }
    .div-glav{
        flex-direction: column;
    }
}
